.test {
 color: red;
 font-size: 25px;
}



#nav {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 font-size: 0;
}


.nav-options {
 display: inline-block;
 width: 25%;
 font-size: 17px;
 text-align: center;
}



